.Navbar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    
    color: #484848;
    font-weight: 600;
    font-size:1.5rem ;
    border-bottom: 1.5px solid #c1b8b8;
}

.logo{
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    color: rgb(218, 100, 100);
    margin-left: 30px;
}
.nav {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-right: 300px;
}

.nav a {
    text-decoration: none;
    padding: 4px 12px;
    color: inherit;
}
.nav a:hover{
    box-shadow: 0 2px 5px rgba(152, 147, 147, 0.274);
    border-radius: 30px;
    background-color: #98969656;
}
