.movieName{
    margin-top: 3px;
    padding: 3px;
    width: 25%;
    height: 300px;
    border: 2px solid  #0c0c0ca4;
    border-radius: 40px;

}

.imgdiv{
    margin-top: 5px;
    justify-self: center;
    width: 98%;
    height: 60%;
    border: 2px solid  #7d4b4b;
    border-radius: 20px;

}
.detaildiv{
    padding-left:20%;
}
